/* .image{
  background-image: url("../img/photos_2017_9_25_fst_bokeh-lights-surface-wet.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  overflow: hidden;
} */

.background{
  overflow: hidden;
  background: rgb(0, 0, 0);
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */

}
  .holder,
  .first,
  .second,
  .third {
    height: 100vh;
    width: 100vw;
    z-index: -100;
  }
  .first,
  .second,
  .third {
    position: absolute;
  }
  .second,
  .third {
    opacity: 0;
  }
  .holder {
    /* height: 100vh; */
    position: absolute;
    /* z-index: 0; */
  }
  .first {
    animation: first 10s infinite;
    background: linear-gradient(#015547, #252525);
    z-index: 10;
  }
    @keyframes first {
      0% {opacity: 1.0;}
      10% {opacity: 0.8;}
      20% {opacity: 0.6;}
      30% {opacity: 0.4;}
      40% {opacity: 0.2;}
      50% {opacity: 0.1;}
      60% {opacity: 0.2;}
      70% {opacity: 0.4;}
      80% {opacity: 0.6;}
      90% {opacity: 0.8;}
      100% {opacity: 1.0;}
    }

  .second {
    animation: second 10s infinite; animation-delay: 1s;
    
    background: linear-gradient(#252525, #000000);
    z-index: 20;
  }
    @keyframes second {
      0% {opacity: 0;}
      10% {opacity: 0.2;}
      20% {opacity: 0.4;}
      30% {opacity: 0.6;}
      40% {opacity: 0.8;}
      50% {opacity: 1.0;}
      60% {opacity: 0.8;}
      70% {opacity: 0.6;}
      80% {opacity: 0.4;}
      90% {opacity: 0.2;}
      100% {opacity: 0;}
    }

  .third {
    animation: third 10s infinite;
    animation-delay: 8s;
    background: linear-gradient(#252525, #361400);
    z-index: 30;
  }
    @keyframes third {
      0% {opacity: 0;}
      10% {opacity: 0.2;}
      20% {opacity: 0.4;}
      30% {opacity: 0.6;}
      40% {opacity: 0.8;}
      50% {opacity: 1.0;}
      60% {opacity: 0.8;}
      70% {opacity: 0.6;}
      80% {opacity: 0.4;}
      90% {opacity: 0.2;}
      100% {opacity: 0;}
    }