.footer{
  z-index: -1;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgb(0, 0, 0));
  height: 200px;
}

  
  .footer-copyright {
    margin: 0;

    text-align: center;
    color: rgb(0, 255, 234);
    font-size: 1rem;
    font-family: "Jura";
  }
  
  .footer-icons img{
    width: 30 px;
    height: 240 px ;
  }
  .footerGithub{
    height:3em;
  }
  .footerGithub:hover{
    height:3em;
  }
  .footerLinkdin{
    height:3em;
  }