
.home-body {
    padding: 3em;
    height: 87vh;
    
  }
.home-body h1 {

    color: rgb(0, 255, 234);
    font-size: 3rem;
    font-family: 'Jockey One', sans-serif;
  }

  .home-body p {

    color: rgb(0, 255, 234);
    font-size: 2rem;
    font-family: 'Jura', sans-serif;
  }

.buzzBlock {
  /* background-image: url("../img/ezgif.com-gif-maker.gif"); */
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 10em;
}

.icon1 > *{
  color: rgba(0, 0, 0, 0.158);
  font-size: 50em;
  mix-blend-mode: exclusion
}
.rotate-scale-up {
	-webkit-animation: rotate-scale-up infinite 5s linear both;
	        animation: rotate-scale-up infinite 5s linear both;
}
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.icon2{
  color: rgba(0, 0, 0);
  font-size: 100vh;
text-align: center;}