
.home-body {
    padding: 3em;
    height: 87vh;
    
  }
.home-body h1 {

    color: rgb(0, 255, 234);
    font-size: 3rem;
    font-family: 'Jockey One', sans-serif;
  }

  .home-body p {

    color: rgb(0, 255, 234);
    font-size: 2rem;
    font-family: 'Jura', sans-serif;
  }

