
.resume-body {
    padding: 3em;

  }

.resume-body div {
      font-size: 2.5rem;
      font-family: 'Jockey One', sans-serif;
      color: #fff;
      text-align: center;
      text-decoration: none;
  }
  .resume-body a {
    font-size: 2.5rem;
    font-family: 'Jockey One', sans-serif;
    color: #fff;

    text-decoration: underline;
}
.resume-body a:hover {
  color: rgb(0, 255, 234)!important;
  background-color: #000000!important;
  border-color: #8ad3d3;
  border-radius: 60px;
  line-height: 15px;
  box-shadow: 0px 0px 6px rgb(0, 255, 234) inset, 0px 0px 10px rgb(255, 174, 0)!important;


}

  .resume-body p {

    color: rgb(0, 255, 234);
    font-size: 2rem;
    font-family: 'Jura', sans-serif;
  }


  .skillList {
   font-size: large;
  
  }
  .skillList li {
    color: rgb(0, 255, 234) !important;
    font-family: "Jura", sans-serif;
    background-color: rgb(20, 20, 20) !important;
    border-radius: 10px!important;
    border: 1px solid rgb(0, 255, 234) !important;
    margin: 1rem !important;
    

    box-shadow: 0px 1px 10px rgb(0, 255, 234) inset, 0px 10px 15px rgba(0, 0, 0, 0.363)!important;
  
  }